<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar with Carousel</title>
    <link rel="stylesheet" href="">
    <!-- CSS dependencies -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/solid.min.css"
        integrity="sha512-tk4nGrLxft4l30r9ETuejLU0a3d7LwMzj0eXjzc16JQj+5U1IeVoCuGLObRDc3+eQMUcEQY1RIDPGvuA7SNQ2w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&family=Nunito+Sans:ital,wght@1,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />





</head>



<body>
    <nav class="navbar navbar-expand-lg  navbar-light bg-light fixed-top navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand mt-2 mt-lg-0" href="#">
                <!--   <img src="assets/image/FinalLogoEdit.png" height="80" width="100" alt="Logo" loading="lazy" />-->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent"
                style="font-family: 'Josefin Sans', sans-serif;">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link s" (click)="menClick()">Men</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link s" (click)="womenClick()">Women</a>
                    </li>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <li class="nav-item s" style="font-size: 25px; font-weight: 600;">
                        <a class="nav-link" (click)=" logoClick()"> THRIFT  HAVEN. </a>
                        <!-- <img src="assets/image/logo.jpg" class="logo"> -->
                    </li>
                </ul>
                <div class="d-flex align-items-center cur">

                    <div *ngIf="!isLoggedIn" class="text-reset me-3 s"  (click)="LoginClick()">
                        <i class="fa-sharp fa-solid fa-user fa-sm" style="padding-left: 13px;"></i><br>
                        <span style="font-size: small;"> Login </span>
                    </div>&nbsp;

                    <a class="text-reset me-3 cur " (click)="WishlistClick()">
                        <i class="fa-solid fa-heart fa-sm" style="padding-left: 18px;"></i><br>
                        <span style="font-size: small;"> Wishlist </span>
                    </a>&nbsp;

                    <div class="text-reset me-3 cur " (click)="CartClick()">
                        <i class="fa fa-thin fa-bag-shopping fa-sm" style="padding-left: 8px;"></i><br>
                        <span style="font-size: small;"> Bag </span>
                    </div>&nbsp;

                    <a *ngIf="isLoggedIn" class="nav-link text-reset me-3 cur" (click)="handleClick()" >
                        <i class="fa fa-thin fa-right-from-bracket fa-sm" style="padding-left: 15px;"></i><br>
                        <u style="font-size: small;"> Logout</u>
                    </a>

                    <!-- <div class="dropdown">
                            <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="25" alt="Black and White Portrait of a Man" loading="lazy" />
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                                <li>
                                    <a class="dropdown-item" href="#">My profile</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Settings</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Logout</a>
                                </li>
                            </ul>
                        </div>-->
                </div>
            </div>
        </div>
    </nav>


</body>

</html>