/*@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300&display=swap');
:root{
    --orange:#ffa500;

}

*{
    font-family:'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing:border-box;
    text-transform:capitalize;
    outline:none;
    border:none;
    text-decoration: none;
    transition:all .2s linear;
}
*::selection{
    background:var(--orange);
    color:#fff;
}
html{
    font-size:62.5%;
    overflow-x: hidden;
    scroll-padding-top:6rem;
    scroll-behavior: smooth;
}
header{
    position:fixed;
    top:0; left:0; right:0;
    background:#333;
    z-index:1000;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 5px;
}
header .logo{
    font: size 500px;
    font-weight:bolder;
    color:#fff;
    text-transform:uppercase;
}
header .logo span{
    color:orange;
}
header .navbar a{
    color:#fff;
    font-size: 2rem;
    margin:0.8rem;
}
header .navbar a:hover{
    color:orange;
}
header .icons i{
    font: size 2.5rem;
    color:#fff;
    cursor:pointer;
    margin-right:2rem;
}
header .icons i:hover{
    color:orange;
}
/*header .search-bar-container{
    position:absolute;
    top:100%; left:0; right:0;
    padding:1.5rem 0.5rem;
    background:#333;
    border-top:.1rem solid rgba(255,255,255,.2);
    display:flex;
    align-items:center;
    z-index: 1001;
   clip-path: polygon(50%);
}
header .search-bar-container #search-bar{
    width:100%;
    padding:1rem;
    text-transform:none;
    color:#333;
    font-size: 1.7rem;
    border-radius:.5rem;
}
header .search-bar-container label{
    color:#fff;
    cursor:pointer;
    font: size 20px;;
   /* margin-left:1.5rem;
}
header .search-bar-container label:hover{
    color:orange;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
  }

  body {
      /* display: flex; 
      justify-content: center;
      align-items: center;
    }
    .background-video-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        overflow: hidden;
      }
      
      .background-video-container video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }*/


.s{
        cursor:pointer;
    }

     

