<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<app-header></app-header>
<body>
<h4  class="S1" style="background-color: #fff; color: #000;">Account Details</h4>

<div class="box-container">
   <label  id="">Name</label>
   <input type="text" class="m-control " placeholder="First Name" id="" style="margin-left:130px;"> <input type="text" class="m-control " placeholder="Last Name">
   <br><br>
   <label id="" class="email">Email address</label>
   <input type="text" class="m-control" placeholder="Email">
</div>


<h4  class="S1" style="background-color: #fff; color: #000;margin-top: 90px;">Password Change</h4>
<div class="box-container">
    <label  id="">Current password</label>
    <input type="password" class="m-control " placeholder="************" id="" style="margin-left:130px;"> 
    <br><br>
    <label  id="">New password</label>
    <input type="text" class="m-control " placeholder="Leave blank to leave unchanged" style="margin-left: 150px;">
    <br><br>
    <label  id="">Confirm new password</label>
    <input type="text" class="m-control" placeholder="">
 </div>
  
</body>


 