body{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.14286;
    color: #7c7c80;
    box-sizing: inherit;
    padding-top: 130px;
    padding-bottom: 100px;
}
  .box-container {
    background-color:white;
    border: 1px solid #b4afaf;
    padding: 50px;
    width: 60%;
    margin: auto;
  }

  h4{
    margin-left:310px;
    margin-bottom: 30px;
  }
  label{
    color: black;
    
  }

  .email{
    margin-top:10px ;
  }
  .m-control{
    font: inherit;
    word-wrap: break-word;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    transition: border 0.5s;
    color: #666;
    border: none;
    border-bottom: 2px solid #f1f2f4;
    border-radius: 0;
    padding: 5px 0;
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    line-height: normal;
    width: 30%;
    margin-left: 90px;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }