<app-header></app-header>

<html style="margin-top: 150px;">

<head>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&family=Nunito+Sans:ital,wght@1,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.3/css/bootstrap.min.css"
        integrity="sha512-oc9+XSs1H243/FRN9Rw62Fn8EtxjEYWHXRvjS43YtueEewbS6ObfXcJNyohjHqVKFPoXXUxwc+q1K7Dee6vv9g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body {
            margin: 100px;
        }

        .section2 {
            float: right;
            padding-right: 300px;
            position: absolute;
            top: 0;
            right: 0;
            margin: 143px;
        }

        .section2 .des {
            font-family: 'Josefin Sans', sans-serif;
            font-size: medium;
            color: rgb(71, 69, 69);
        }

        .section2 .name {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 30px;
        }

        .horizontal-line {
            height: 1px;
            background-color: black;
            margin-top: 20px;
            /*  width: 800px;*/

        }

        .section2 .price {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 25px;
        }

        .btn-circle {
            width: 50px;
            height: 50px;
            padding: 10px 16px;
            border-radius: 35px;
            font-size: 12px;
            text-align: center;
            border-color: black;
        }

        .btn-dark {
            padding: 10px 50px 10px 50px;
            font-family: 'Josefin Sans', sans-serif;
        }

        .size {
            font-family: 'Josefin Sans', sans-serif;
            font-size: large;
        }
    </style>

</head>

<body>
    <div class="section1">
        <div class="img-zoom-container">
            <img id="myimage" src="{{requiredp.productImageAddress}}" width="500" height="550">
            <div id="myresult" class="img-zoom-result"></div>
        </div>
    </div>
    <div class="section2">
        <div class="name">{{requiredp.name}}</div>
        <div class="des">{{requiredp.description}}</div>
        <div class="horizontal-line"></div> <br>
        <div class="price">₹{{requiredp.price}}</div><br>
        <div class="size">Select Size</div><br>

        <button type="button" class="btn btn-light btn-circle">S</button>&nbsp;
        <button type="button" class="btn btn-light btn-circle">M</button>&nbsp;
        <button type="button" class="btn btn-light btn-circle">L</button><br><br>

        <button type="button" (click)="cart()" class="btn btn-dark"> <i class=" fa fa-light fa-bag-shopping"
                style="color: #fefbfb; margin-right: 5px;"></i> Add to bag </button> &nbsp;&nbsp;
        <button type="button" (click)="wishlist()" class="btn btn-dark"> <i class=" fa fa-regular fa-heart"
                style="color: #fcfcfd; margin-right: 5px;"></i>Wishlist</button>

    </div>





</body>

</html>