.box-container {
    background-color:white;
    border: 1px solid #b4afaf;
    padding: 50px;
    width: 60%;
    margin: auto;
    /* margin: auto; */
  }

body{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.14286;
    color: #7c7c80;
    box-sizing: inherit;
    padding-top: 130px;
    padding-bottom: 100px;
}

.m-control{
    font: inherit;
    word-wrap: break-word;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    transition: border 0.5s;
    color: #666;
    border: none;
    border-bottom: 2px solid #ccccce;
    border-radius: 0;
    padding: 5px 0;
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    line-height: normal;
    width: 30%;
    margin-left: 90px;
  }

  .m-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    background-color: #ffffff;
    border: 2px solid black;
    width:350px;

  }

  .m-btn:hover{
    background-color: #1e1d1d;
    color:#f1f2f4;
  }

  .red{
    color: red;
  }