<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>


<app-header></app-header>

<body>

<div class="box-container" style="margin-top:10px;margin-bottom: 110px;" >
    <div>
        <form>
            <div class="form-group">
                <label style="margin-bottom: 20px;"><small class="red">*</small>Gender</label>
                <div class="row">
                  <div class="col-4">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gender" id="male" value="male">
                      <label class="form-check-label" for="male">Male</label>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                      <label class="form-check-label" for="female">Female</label>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gender" id="other" value="other">
                      <label class="form-check-label" for="other">Other</label>
                    </div>
                  </div>
                </div>
              </div>
          
            <div class="form-group" style="margin-top:20px;">
              <label for="itemName"><small class="red">*</small>Name of the Item</label>
              <input type="text" class="m-control" id="itemName" name="itemName" style="margin-left: 130px;">
            </div>
          
            <div class="form-group" style="margin-top:20px;">
              <label for="brand"><small class="red">*</small>Brand</label>
              <input type="text" class="m-control" id="brand" name="brand" style="margin-left: 210px;">
            </div>
          
            <div class="form-group" style="margin-top:20px;">
              <label for="size"><small class="red">*</small>Size (Dimensions)</label>
              <input type="text" class="m-control" id="size" name="size" style="margin-left: 130px;">
            </div>

    <!--  <div class="form-group">
              <label for="imagePath">Image Path</label>
              <input type="text" class="form-control" id="imagePath" name="imagePath">
            </div> -->

            <div class="form-group" style="margin-top:20px;">
                <label for="imageInput"> <small class="red">*</small>Image:</label>
                <input type="file" id="imageInput" class="m-control" accept=".jpg, .jpeg, .png" (change)="handleImageSelect($event)" style="margin-left: 201px;">
              </div>

              
          
            <div class="form-group" style="margin-top:20px;">
              <label for="price"><small class="red">*</small>Price (Willing to Negotiate)</label>
              <input type="text" class="m-control" id="price" name="price" style="margin-left: 60px;">
            </div>
          
            <button type="submit" class="m-btn" style="margin-top:40px;">Submit</button>
          </form>
          
    </div>
</div>

</body>
