* {
  margin: 0;
  padding: 0;
  font-family: 'poopins', sans-serif;
  box-sizing: border-box;
}

body{
  background: #eef8ff;
}
footer{
  width: 100%;
  /* position: absolute; */
  bottom: 0;
  background: linear-gradient(to right,#00093c, #2d0b00);
  color: #fff;
  padding: 100px 0 30px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;
}

.row{
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col{
  flex-basis: 25%;
  padding: 10px;
  /* margin-top: 10px;  */
}
.col:nth-child(2), .col:nth-child(3){
  flex-basis: 15%;
}
.logo{
  width: 100px;
}
.col h3{
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}
.email-id{
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}
ul li{
  list-style: none;
  margin-bottom: 5px;
}
ul li a{
  text-decoration: none;
  color: #ffffff;
}
.social-icons{
  margin-top: 15px; 
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align:center;
  line-height: 40px;
  font-size: 26px;
  color: #000;
  background: #280101;
  background-size: cover;
  margin-right: 10px;
  margin-bottom: 10px; 
  cursor: pointer;
  display: inline-block;
  margin-left: 1px;
}
.social-icons i{
  margin-right: 10px;
  font-size: 29px;
}
hr{
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}
.copyright{
  text-align: center;
}
.underline{
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 30px;
  left: 0;
}
.underline span{
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
  overflow: hidden;
}
@keyframes moving{
  0%{
    left: -20px;
  }
  100%{
    left: 100%;
  }
}
@media (max-width: 700px){
  footer{
    bottom: unset;
  }
  .col{
    flex-basis: 100%;
  }
  .col:nth-child(2), .col:nth-child(3){
    flex-basis: 100%;
  }
}
