.table{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    vertical-align: middle;
    border-right: 0;
    color: #000;
    /* box-sizing: inherit; */
    border-collapse: separate;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1070px;
    text-align:justify;
    border-spacing: 18px;
    /* word-wrap: break-word; */
}

.thead-dark{
  background-color: #fff; color: #000;
  word-wrap: break-word;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 2.14286;
  
  border-spacing: 2px;
  text-align: left;
  border-collapse: separate;
  box-sizing: inherit;
  border-bottom: 1px solid #23232c;
}

/* X */

.dh {
    color:  #5c5c5c; /* Before interaction: light black */
    cursor: pointer;
    font-size: 19px;
    font-weight: 400;
    font-display:initial;
  }
  
  .dh:hover {
    color: #000; /* On hover: dark black */
  }
  
  .dh:active {
    color: #111111; /* On cursor click: darker black */
  }

  /* Quantitiy */

  .quantity-box {
    /* display: flex;
    align-items: center; */


  }
  
  .quantity-box::before,
  .quantity-box::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
  }
  
  /* .quantity-box::before {
    content: "-";
    color:  #5c5c5c;
    margin-right: 5px;
  }
  
  .quantity-box::after {
    content: "+";
    margin-left: 5px;
    color:  #5c5c5c;
  } */

  .quantity-box:hover{
    color: #111111; 
  }



  .cart-totals {
    width: 1100px; /* Adjust the width as per your preference */
    margin: 0 auto; /* Center the box horizontally */
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    vertical-align: middle;
    border-right: 0;

 


    /*   word-wrap: break-word;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.14286;
    color: #7c7c80;
    box-sizing: inherit;
    border: 2px solid #f1f2f4;
    padding: 20px 40px 40px;
    position: relative;

 */
   
  }
  
  .box1{
    border: 1px solid #b4afaf;
    padding: 20px;
    text-align: center;
    background-color:white;
    margin-bottom: 120px;

    
  }
  
  .cart-title1 {
    font-size: 24px;
    font-weight: bold;
    /* margin-bottom: 20px; */
    margin-right: 800px;
  }
  
  .calculate-shipping-btn1 {
    color: black;
    text-decoration: underline;
    display: block;
    margin-top: 10px;
  }
  
  .proceed-to-checkout-btn1 {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    background-color: #ffffff;
    border: 2px solid black;

  }

  .proceed-to-checkout-btn1:hover {
    color: white;
    background-color: black;
  }
  

  .S2{
    width: 300px; /* Adjust the width as per your preference */
    margin: 0;
    position: relative;
    left: 300px;
    line-height: 2.14286;
    text-align: left;
  }
  .S3{

    margin: 0;
    position: relative;
    left: 200px;
    text-align: left;
  }
  .S4{

    text-align:left;
    font-family: Arial, sans-serif;
  }
  .red{
    color:red;
  }
  .smae{
    margin: 15px;
    color:  #5c5c5c;
    cursor: pointer;
  }

  /* Before Logged in */

  /* Box */
  .amg{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.14286;
    box-sizing: inherit;
    position: relative;
    background-color: #f7f6f7;
    color: #515151;
    list-style: none outside;
    width: auto;
    word-wrap: break-word;
    padding: 20px 30px 150px 80px !important;
    margin: 50px 0 !important;
    border: none;
    text-align: center;
  }

  /* Box */

  /* Shop Button */
  .shop{
    word-wrap: break-word;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.14286;
    color: #fdfdff;
    background-color: #000;
    box-sizing: inherit;
    margin: 0 0 10px;
    margin-bottom: 1.5em;
    text-align: center;
    width: 350px;
    height: 70px;
  }

  .shop:hover{
    color:black;
    background-color:#f7f6f7;
  }

    /* Shop Button */

  


  
  