
<app-header></app-header>
<br><br><br><br>
<br>


<app-bar ></app-bar >
<br><br>

<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>


<div class="amg" *ngIf="!isLoggedIn" >

  <span class="">Your cart is currently empty.</span>
  <br>Please Login.
  <br><br>
  <button class="shop" (click)="shopClick()"> Return to shop</button>

</div>


<div class="amg" *ngIf="isEmpty"  >

  <span class="">Your cart is currently empty.</span>
  
  <br><br>
  <button class="shop" (click)="shopClick()"> Return to shop</button>

</div>

<div class="" *ngIf="isLoggedIn && !isEmpty">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product</th>
      <th scope="col"></th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Subtotal</th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of uniqueProducts">
      <td><img [src]="product.productImageAddress" alt="Product Image" style="max-width: 100px; max-height: 100px;"></td>
      <td class="S4">{{product.name}}</td>
      <td>{{ product.price | currency: 'INR' }}</td>
      <td class="quantity-box"><span class="smae dh" (click)="deleteUserCartSingleProduct(product)">-</span>{{ getProductQuantity(product) }}<span class="smae dh" (click)="addToCart(product)">+</span></td>
      <td>₹{{ calculateSubtotal(product) }}</td>
      <td class="dh" (click)="deleteUserCartProduct(product)">  <span>&times;</span></td>
    </tr>
  </tbody>
</table>

<br><br><br><br>


<div class="cart-totals">
    <div class="box1">
      <h2 class="cart-title1">Cart Totals</h2>
      <table>
        <tbody>
          <tr class="S2">
            <th>SUBTOTAL</th>
            <td class="S3">{{ totalPrice | currency: 'INR' }}</td>
          </tr><br>
          <tr class="S2">
            <th>SHIPPING</th>
            <td class="S3">ENTER YOUR ADDRESS TO VIEW SHIPPING OPTIONS.
              <br><small class="red">*</small><small>Free For Shipping for First Orders</small></td>
          </tr>
          <tr class="S2">
            <td colspan="2" class="S3">
              <a class="calculate-shipping-btn1" style="margin-left: 80px;">CALCULATE SHIPPING</a>
            </td>
          </tr>
          <br>
          <tr class="S2">
            <th>TOTAL</th>
            <td class="S3">{{ totalPrice | currency: 'INR' }}</td>
          </tr>
        </tbody>
      </table>
      <button class="proceed-to-checkout-btn1" (click)="Payment()">PROCEED TO CHECKOUT</button>
    </div>
  </div>


  
  

