
<router-outlet></router-outlet>



<app-footer *ngIf="!isLoginOrRegisterComponent()"></app-footer>

<!-- 
<app-productslist></app-productslist> -->
 <!-- <router-outlet></router-outlet> -->

<!-- router-outlet></router-outlet>-->


<!-- <app-welcome (loginClicked)="showLogin()"></app-welcome> -->

 
<!-- <app-registration></app-registration> -->
 <!-- <app-welcome></app-welcome>  -->
<!-- <app-welcome></app-welcome> -->
<!-- <app-admin></app-admin> -->
<!-- <app-footer></app-footer> -->
<!-- <app-admin></app-admin> 
<app-footer></app-footer>-->
