/* body{
    word-wrap: break-word;
    font-family: Poppins;
    line-height: 2.14286;
    box-sizing: inherit;
    font-size: 1.6rem;
    font-weight: 500;
    color: #909097;
    text-align: center;
    background-color: #f1f2f4;
} */

.nav-link{
    cursor: pointer;
}