.nav-item .nav-link {
  text-shadow: 0 0 15px #e6e2eb;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  color: #4b4a4d;
  position: relative;
}

.nav-item .nav-link:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.3s ease;
  bottom: 25%;
}

.nav-item .nav-link:hover::after {
  width: 100%;
  height: 2px;
  background-color: #080707;
}

.cleft{
    padding-right: 350px;
    padding-bottom: 40px;
    cursor:pointer;
}