<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&family=Nunito+Sans:ital,wght@1,300&display=swap"
    rel="stylesheet">
  
  <style>
    body {
      background-image: url('assets/image/loginbg.jpg');
      background-size: 83%;
      background-position: left;
      height: 100vh;
      /* Set the height of the body to 100% of the viewport height */
      margin: 0;
      /* Remove default body margin */
      padding: 50px;
      /* Remove default body padding 
      background-color: darkgoldenrod;*/
    }

    .container {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-top: 100px;
      float: right;
    }

    .form-group {
      margin-bottom: 20px;
    }

    .form-control {
      border-radius: 30px;
      width:100%;
      padding: 10px 20px;
      border:1px solid;
      font-size:16px;
      font-weight: 400;
     
      margin-right: -10px;
      

    }

    .btn-primary {
      border-radius: 15px;
      margin-left: 140px;
      padding:8px 20px 8px 20px;

    }


    .text-center {
      margin-bottom: 20px;
    }

    .text-danger {
      color: #dc3545;
    }

    a.nav-link {
      color: #174e8a;
    }
   
    .icons{
      display:flex;
      justify-content: center;
      align-items: center;
    }
    .form .container .icons li{
      list-style: none;
      width:50px;
      height:50px;
      display:flex;
      justify-content: center;
      align-items:center;
      background: #607d8b;
      border-radius:100%;
      margin:0 7px;
      cursor:pointer;
    }
    .form .container .icons li:hover{
      background:rgba(255, 255, 255, 0.8);
    }
    .form .container .icons li img{
      transform: scale(0.9);
     
    }

  
  </style>
</head>

<body>
  <div class="form">
    <div class="container">
      <h2 class="text-center" style="  font-family: 'Josefin Sans', sans-serif; font-weight: 600; font-size: 1.5em; text-transform:uppercase ;"><strong>Login</strong></h2>
      <form [formGroup]="passwordForm" (ngSubmit)="loginSubmit()" novalidate>
        <div class="form-group">
          <label for="email" style=" font-family: 'Josefin Sans', sans-serif; font-weight: 600; font-size: 15px; text-transform:uppercase ;">EmailId:</label><br>
          <input type="email" class="form-control" formControlName="email" id="email" name="emailId"
            placeholder="Enter your email" required>
          <small class="text-danger"
            *ngIf="passwordForm.controls['email'].invalid && (passwordForm.controls['email'].dirty || passwordForm.controls['email'].touched)">
            <div *ngIf="passwordForm.controls['email'].hasError('required')">*Email is required.</div>
            <div *ngIf="passwordForm.controls['email'].errors?.['email']">*Invalid email format.</div>
          </small>
        </div>

        <div class="form-group">
          <label for="password" style=" font-family: 'Josefin Sans', sans-serif; font-weight: 600; font-size: 15px; text-transform:uppercase ;">Password:</label>
          <input type="password" class="form-control" formControlName="password" id="password" name="password"
            placeholder="Enter your password" required>
          <small class="text-danger"
            *ngIf="passwordForm.controls['password'].invalid && (passwordForm.controls['password'].dirty || passwordForm.controls['password'].touched)">
            <div *ngIf="passwordForm.controls['password'].hasError('required')">*Password is required.</div>
            <div *ngIf="passwordForm.controls['password'].hasError('minlength')">*Password must be at least 8 characters
              long.</div>
            <!-- <div *ngIf="passwordForm.controls['password'].hasError('pattern')">*Password must contain caharecters.</div> -->
          </small>
        </div>
       
        <button class="btn btn-primary" style="font-family: 'Josefin Sans', sans-serif;">Login</button><br><br>
       <!-- <div class="text-center mt-3" style="padding-right: 180px; display: flex; justify-content: center; align-items: center;">
          Don't have an account? <a class="nav-link" routerLink="register" style="margin-left: 5px;">Register</a>
        </div>-->
        <div class="text-center mt-3" style="padding-left: 50px;">
          <p style="display: inline; font-family: 'Josefin Sans', sans-serif; padding-right: 50px;">Don't have an account? </p>
          <a class="nav-link" routerLink="register" (click)=" registerClick()" style="display: inline; font-family: 'Josefin Sans', sans-serif;  padding-right: 70px;">Register</a>
        </div>   
       
             
      </form>
      <p style="color:#041d29; text-align:center; margin:30px 0 10px; font-weight:600;  font-family: 'Josefin Sans', sans-serif;">Login with social media</p>
      <ul class="icons" style="padding-right:25px;">
        <!-- <li> <asl-google-signin-button type='icon' size='medium'  ></asl-google-signin-button> </li>  -->
              <!-- <div id="g_id_onload"
                      data-client_id="364600431908-3u8ro7jslj5rllrmdncv62638r29os21.apps.googleusercontent.com"
                      data-context="signin"
                      data-ux_mode="popup"
                      data-callback="http://localhost:4200/"
                      data-auto_prompt="false">
                </div>
                
                <div class="g_id_signin"
                      data-type="standard"
                      data-shape="pill"
                      data-theme="outline"
                      data-text="signin_with"
                      data-size="large"
                      data-logo_alignment="left">
                </div> -->
                
        <asl-google-signin-button type='icon' size='medium'></asl-google-signin-button>
        
         
      </ul>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </div>
</body>

</html>
<!-- <app-footer></app-footer> -->