
<!--  -->
<!-- nav -->


<!-- <nav class="navbar">
  <ul class="nav-list">
    <li class="nav-item">
      <a class="nav-link" (click)="men()">Men</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="women()">Women</a>
    </li>
  </ul>
  
  <div class="nav-left">
    <a class="nav-link" (click)="viewCart()">Cart</a>
  </div>

</nav> -->

<app-header></app-header>

<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> 



<!-- nav -->
<!--  -->
<body style="margin-top: 150px;margin-bottom: 150px;">
  <app-bar2></app-bar2>
<div class="container">
  <div class="left-section s">
    <!-- Content for the left section -->
    <!-- Place your filters here -->
    <!-- <app-logout></app-logout> -->

    <!-- Gender,category,price filter -->
      <br><br>
      <!-- <div class="filters">
        <div>
          <span id="gender-toggle" class="toggle" (click)="toggleGenderOptions()">{{ showGenderOptions ? '-' : '+' }}</span>
          &nbsp;
          <label for="gender-toggle">Gender</label>
          <div id="gender-options" class="options" [ngClass]="{'hidden': !showGenderOptions}">
            <div>
              <input type="checkbox" id="male-filter" />
              <label for="male-filter">Male</label>
            </div>
            <div>
              <input type="checkbox" id="female-filter"  />
              <label for="female-filter">Female</label>
            </div>
            
            
            
          </div>
        </div>
        
       
        <div>
          <span id="category-toggle" class="toggle" (click)="toggleCategoryOptions()">{{ showCategoryOptions ? '-' : '+' }}</span>
          &nbsp;
          <label for="category-toggle">Category</label>
          <div id="category-options" class="options" [ngClass]="{'hidden': !showCategoryOptions}">
            <div>
              <input type="checkbox" id="jeans-filter" />
              <label for="jeans-filter">Jeans</label>
            </div>
            <div>
              <input type="checkbox" id="shirts-filter"  />
              <label for="shirts-filter">Shirts</label>
            </div>
          </div>
        </div>



      
        <span id="price-toggle" class="toggle" (click)="togglePriceOptions()">{{ showPriceOptions ? '-' : '+' }}</span>
        &nbsp;
        <label for="price-toggle">Price</label>
        <div id="price-options" class="options" [ngClass]="{'hidden': !showPriceOptions}">
          <div>
            <input type="checkbox" id="price-0-500"  />
            <label for="price-0-500">0 - Rs.500 </label>
          </div>
          <div>
            <input type="checkbox" id="price-500-1000" />
            <label for="price-500-1000">Rs.500 - Rs.1000 </label>
          </div>
          <div>
            <input type="checkbox" id="price-1000-1500"  />
            <label for="price-1000-1500">Rs.1000 - Rs.1500 </label>
          </div>
          <div>
            <input type="checkbox" id="price-1500-2000"  />
            <label for="price-1500-2000">Rs.1500 -Rs. 2000 </label>
          </div>
          <div>
            <input type="checkbox" id="price-2000-2500"  />
            <label for="price-2000-2500">Rs.2000 - Rs.2500 </label>
          </div>
          <div>
            <input type="checkbox" id="price-2500-3000"  />
            <label for="price-2500-3000">Rs.2500 - Rs.3000 </label>
          </div>
          <div>
            <input type="checkbox" id="price-3000-3500" />
            <label for="price-3000-3500">Rs.3000 - Rs.3500 </label>
          </div>
        </div>
      </div> -->

  <!-- Gender,category,price filter -->

      <!-- Color,Size,price -->
      <div class="h">

            <div class="d">
                <h2 class="color ">Color</h2>

                  <div class="" *ngIf="!selectedColor">

                        <ul class="list" >
                          <li class="col" *ngFor="let c of color">
                            <span class="single-line" (click)="showColor(c)">{{ c }}</span>
                          </li>
                        </ul>

                  </div>

                <div *ngIf="selectedColor">
        
                  <p class="col">
                    <span class="single-line x" (click)="resetSelectedColor()" style="cursor: pointer;">&times;</span>
                    <span class="single-line">{{ selectedColor}}</span>
                  </p>

                </div>
          </div>
          <div class="d" style="margin-top: 20px;">

              <h2 class="color ">Size</h2>
                      <div class="" *ngIf="!selectedSize">

                        <ul class="list" >
                          <li class="col" *ngFor="let s of size">
                            <span class="single-line" (click)="showSize(s)">
                              {{ s }}
                            </span>
                          </li>
                        </ul>

                  </div>

                <div *ngIf="selectedSize">

                  <p class="col">
                    <span class="x single-line" (click)="resetSelectedSize()" style="cursor: pointer;">&times;</span>
                    {{ selectedSize}}
                  </p>

                </div>
              
            
          </div>

      </div>
      
     
     <!-- Color,Size,price -->
    

     <!--  -->
  
  </div>

  <div class="right-section">
    <!-- Content for the right section -->
    <div class="">
    <div class="row">
      <div class="col-md-4" *ngFor="let product of filteredProducts ">
        <div class="card mb-4">
          <div class="card-image-container">
            <div class="card-image toggle" (click)="pr(product)" [style.background-image]="'url(' + product.productImageAddress + ')'"></div>
            <div class="add-to-cart-button" (click)="addToCart(product)">Add to Cart</div>
          </div>
          <div class="card-details tr">
            <small class="card-title" style="padding-bottom:50px;">{{ product.name }}</small>
            <div class="card-text ">
              <!-- <span class="card-price">{{ product.price }} Rupees</span><br> -->
              <!-- <br class="line-height-br"> -->
              <small class="card-clothing-type" >Size: {{ product.productSize }}</small>
            </div>
            <!-- <p class="card-description">{{ product.productDescription }}</p> -->
              <div class="" style="color: rgba(0, 0, 0, 0.9) !important; ">
                <small class="card-category" id="product-price" >{{ product.price | currency: 'INR' }}</small>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ₹ -->
    
   
    
    

    <!--  -->
  </div>
       
  </div>
  <div class="center-container toggle bb">
    <span *ngIf="!isLoading; else loadingContent" (click)="startLoading()">Load More</span>
    <ng-template #loadingContent>
      <span>Loading</span>
      <div class="loader"></div>
    </ng-template>
  </div>




</body>
           
         
        <!-- Product card markup -->
        <!-- ... -->

       

          <!-- ... -->
    
  



<!--  -->
<!--  -->

  