body{
  padding-right: 150px;
}
.container {
  display: flex;
}

/* left section */

.left-section {
  flex: 0 0 16%; /* Adjust the width as needed */
  font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  box-sizing: border-box;
  transition: margin .2s cubic-bezier(.25,.46,.45,.94);
  margin-top: 0;
  padding-top: 0px;
  position: static;
  top: 0px;
  bottom: auto;
  
}

.s{
  word-wrap: break-word;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.14286;
  color: #7c7c80;
  box-sizing: inherit;
  display: block;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  width: 280px;
  padding-right: 30px;
  float: left;
}



/* left section */

.right-section {
  flex: 1;
}
.card {
  position: relative;
  outline: none; /* Remove outline border */
  
  width: 300px;
  height: 350px;
  margin-left: 70px;
}

.card-image-container {
  position: relative;
  

}

.card-image {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
}
.add-to-cart-button {
  position: absolute;
  bottom: 10px; /* Position at the bottom */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;

  
}

.card-image-container:hover .add-to-cart-button {
  opacity: 1;
}

.card-details {
  /* padding: 10px;
  font-family: Poppins;
  font-size: 1em;
  font-weight: 400;
  color: #1e1e23;
  line-height: 1.2;
  text-align: center; */

  word-wrap: break-word;
  list-style: none;
  text-align: center;
  box-sizing: inherit;
  font-family: Poppins;
  line-height: 1.2;
  text-transform: none;
  color: #1e1e23;
  font-weight: 400;
  padding: .5em 0;
  margin: 0;
  font-size: 1em;
}

.side-navbar {
  background-color: #f8f9fa;
  padding: 20px;
  border-right: 1px solid #dee2e6;
}

.side-navbar form {
  margin-bottom: 20px;
}

.side-navbar label {
  font-weight: bold;
}

.side-navbar select {
  width: 100%;
}.navbar {
  background-color: #f5f5f5;
  padding: 10px;
}

.nav-list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.nav-item {
  margin-right: 10px;
}
.nav-link {
  color: #333;
  padding: 5px;
  transition: background-color 0.3s; /* Add a transition for a smooth effect */
}

.nav-link:hover {
  background-color: #ddd;
  cursor: pointer; /* Change the cursor to a pointer on hover */
}

.nav-link:active {
  background-color: #aaa; /* Change the background color when the link is clicked */
}

.add-to-cart-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #aaa;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart-link:hover {
  background-color: #999;
}


/* Filter gender */
.toggle {
  cursor: pointer;
}

.hidden {
  display: none;
}

/* Filter gender */

/* Color,Size,price */


.color{
  word-wrap: break-word;
  box-sizing: inherit;
  line-height: 1.2;
  text-transform: none;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: Poppins,sans-serif;
  color: #23232c;
  margin: 0;
  padding: 0 0 30px;
}

.list{
  word-wrap: break-word;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.14286;
  color: #7c7c80;
  box-sizing: inherit;
  overflow: hidden;
  padding: 0 0 1px;
  list-style: none;
}

.col{
  word-wrap: break-word;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.14286;
  color: #7c7c80;
  box-sizing: inherit;
  overflow: hidden;
  padding: 0 0 1px;
  list-style: none;
  cursor: pointer;
}

.h{
  word-wrap: break-word;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.14286;
  color: #7c7c80;
  box-sizing: inherit;
  display: block;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  width: 280px;
  padding-right: 30px;
  float: left;
}

.x{
  color: #f8f9fa;
  background-color: rgb(150, 45, 45);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px; 
  font-weight: bold;
}

.d{
    max-width:min-content;
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.1);
}

.single-line {
  white-space: nowrap;
}


/* Color,Size,price */


/* Load More Button */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Adjust the height to fit your layout */
  margin-left: 53%;
  margin-top: 2%;
  border: 2px solid black;
}

.bb {
  word-wrap: break-word;
  font-family: Poppins;
  font-size: 14px;
  box-sizing: inherit;
  text-decoration: none;
  transition: .5s;
  color: #fff;
  font-weight: 500;
  text-align: center;
  line-height: 60px;
  min-width: 200px;
  display: inline-block;
  padding: 0 10px;
  border-radius: 0;
  border: 0;
  background-color: #23232c;
  cursor: pointer;
  position: relative;
  box-shadow: none!important;
  padding-left: 75px;
  padding-right: 75px;
  border: 2px solid black;
}

.loader {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border-top: 2px solid #fff;
  border-right: 2px solid transparent;
  animation: spin 2.5s linear infinite;
  margin-left: 5px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.center-container:hover {
  background-color: white;
  color: black;
}

/* Load More Button */


/* card details */

.tr{
  word-wrap: break-word;
  list-style: none;
  text-align: center;
  font-family: Poppins;
  line-height: 1.4;
  text-transform: none;
  font-weight: 400;
  font-size: 1em;
  box-sizing: inherit;
  background-color: transparent;
  transition: .5s;
  cursor: pointer;
  color: #23232c;
  text-decoration: none;
}
.line-height-br {
  line-height: 1.5;
}
#product-price.card-category {
  font-size: 0.9em; /* Adjust the font size as needed */
  color: rgba(0, 0, 0, 0.9) !important; /* Dark black color */
}






