<!-- admin.component.html -->

<div class="admin-container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#add-product">Add Product</a></li>
        <li class="nav-item"><a class="nav-link" href="#view-orders">View Orders</a></li>
        <li class="nav-item"><a class="nav-link" href="#view-customers">View Customers</a></li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" (click)="handleClick()" href="#logout">Logout</a></li>
      </ul>
    </nav>
  
    <div class="admin-content">
      <div id="home">
        <h2>Welcome to the Admin Dashboard</h2>
        <!-- Home content goes here -->
      </div>
  
      <div id="add-product">
        <h2>Add Product</h2>
        <!-- Add product form goes here -->
      </div>
  
      <div id="view-orders">
        <h2>View Orders</h2>
        <!-- Order list goes here -->
      </div>
  
      <div id="view-customers">
        <h2>View Customers</h2>
        <!-- Customer list goes here -->
      </div>
  
      <div id="logout">
        <h2>Logout</h2>
        <!-- Logout functionality goes here -->
      </div>
    </div>
  </div>
  
  <!-- Add Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
  <!-- Add jQuery and Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
 