<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-danger" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
           
            <a  href="#" (click)="handleClick()" class="nav-link" > logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

