.box-container {
    background-color:white;
    border: 1px solid #b4afaf;
    padding: 15px;
    width: 70%;
    margin: auto;
    /* margin: auto; */
  }

body{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.14286;
    color: #7c7c80;
    box-sizing: inherit;
    padding-top: 130px;
    padding-bottom: 100px;
}

.m-control{
    font: inherit;
    word-wrap: break-word;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    transition: border 0.5s;
    color: #666;
    border: none;
    border-bottom: 2px solid #ccccce;
    border-radius: 0;
    padding: 5px 0;
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    line-height: normal;
    width: 30%;
    margin-left: 90px;
    /* font-size: 1.1rem; */
    border-radius: 0;

   
  }

  .m-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    background-color: #ffffff;
    border: 2px solid black;
    width:350px;

  }

  .m-btn:hover{
    background-color: #1e1d1d;
    color:#f1f2f4;
  }

  .red{
    color: red;
  }

  /* coupon */

  .samll-c{
    font-family: Poppins;
    line-height: 2.14286;
    box-sizing: inherit;
    position: relative;
    list-style: none outside;
    width: auto;
    word-wrap: break-word;
    font-size: 1.4rem;
    font-weight: 500;
    color: #909097;
    text-align: center;
    border: 2px solid #f1f2f4;
    padding: 25px 0 !important;
    margin: 0 !important;
    background-color: #fff;
  }

  .Coupon-c{
    font-family: Poppins;
    line-height: 2.14286;
    list-style: none outside;
    word-wrap: break-word;
    font-size: 1.0rem;
    text-align: center;
    box-sizing: inherit;
    background-color: transparent;
    transition: 0.5s;
    text-decoration: none;
    cursor: pointer;
    box-shadow: none !important;
    font-weight: 600;
    color: #23232c;
    text-transform: uppercase;
  }

  .cn{
    margin-left:290px;
    text-align: center;
  }

  .bill{
    word-wrap: break-word;
    box-sizing: inherit;
    font-family: Poppins;
    line-height: 1.2;
    text-transform: none;
    font-size: 1.6rem;
    color: #23232c;
    font-weight: 500;
    margin: 0;
    padding-bottom: 10px;
    margin-left:240px;
  }