<app-header  ></app-header>


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>


  <!--  -->

  <div class="" style="margin-top: 110px;">


    <!--  -->

    <!-- Coupon -->

    <div class="box-container"  style="margin-top:30px;margin-bottom:40px;">

      <span class="cn"><span class="small-c">Have a coupon?</span><span class="Coupon-c">CLICK HERE TO ENTER YOUR CODE</span> </span>

    </div>

    <!-- Coupon -->

    <!-- Biiling Details -->

    <h3 class="bill">Billing Details</h3>
    
<div class="box-container" style="margin-top:10px;margin-bottom: 80px;" >
  <div style="margin-left:40px">
      <form>

        <div class="form-group" style="margin-top:20px;">
         
          <input type="text" class="m-control" id="itemName" name="itemName" placeholder="First name">
          <input type="text" class="m-control" id="itemName" name="itemName" placeholder="Lirst name">
        </div>

        <div class="form-group" style="margin-top:20px;">
         
          <input type="text" class="m-control" id="itemName" name="itemName" style="width:70%">
        </div>


        <div class="form-group" style="margin-top:20px;">
         
          <input type="text" class="m-control" id="itemName" name="itemName" style="width:70%;" placeholder="House number and street name" >
          <input type="text" class="m-control" id="itemName" name="itemName" style="width:70%;margin-top:12px; "placeholder="Apartment, suite, unit, etc. (optional)*">
          <input type="text" class="m-control" id="itemName" name="itemName" style="width:70%;margin-top:12px;" placeholder="State">
          <input type="text" class="m-control" id="itemName" name="itemName" style="width:70%;margin-top:12px;"placeholder="  Town / City ">
          <input type="email" class="m-control" id="itemName" name="itemName" style="width:70%;margin-top:12px;"placeholder="email">
          <input type="number" class="m-control" id="itemName" maxlength="10" name="itemName" style="width:70%;margin-top:12px;"placeholder="Phone Number">
        </div>
        
        
        

        
            
        
         
        
          <button type="submit" class="m-btn" (click)="payNow()" style="margin-top:40px;">Pay Amount</button>
        </form>
        
  </div>
</div>
 <!-- Biiling Details -->

    <!--  -->
    
  </div>
  

  <!--  -->


<!-- <button (click)="payNow()" s>Pay amount</button> -->

