/* table */
.table{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    vertical-align: middle;
    border-right: 0;
    color: #000;
    /* box-sizing: inherit; */
    border-collapse: separate;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1150px;
    text-align:justify;
    /* word-wrap: break-word; */
    border-spacing: 18px;
}

/* table */

/* X */
.dh {
    color:  #5c5c5c; /* Before interaction: light black */
    cursor: pointer;
    font-size: 21px;
    font-weight: 800px;
  }
  
  .dh:hover {
    color: #000; /* On hover: dark black */
  }
  
  .dh:active {
    color: #111111; /* On cursor click: darker black */
  }
/* X */

/* Add To Cart */

.add-to-cart-btn1 {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  background-color: #ffffff;
  border: 2px solid black;
}

.add-to-cart-btn1:hover {
  color: #ffffff;
  background-color: black;
}

.tick-mark {
  margin-left: 5px;
  animation: fadeOut 3s linear forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}


/* Add To Cart */

/* table contents */
.thead-dark{
    word-wrap: break-word;
    font-family: Poppins;
    font-weight: 400;
    border-spacing: 0;
    text-align: left;
    border-collapse: separate;
    box-sizing: inherit;
    border-top: 1px solid rgba(0,0,0,.1);
    vertical-align: middle;
    line-height: 1.5em;
    border-right: 0;
    font-size: 1.6rem;
    color: #23232c;
    padding: 20px 0;
    border-color: #f1f2f4;
    width: 30%;
  }
  
/* table contents */


  /* Before Logged in */

  /* Box */
  .amg{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.14286;
    box-sizing: inherit;
    position: relative;
    background-color: #f7f6f7;
    color: #515151;
    list-style: none outside;
    width: auto;
    word-wrap: break-word;
    padding: 20px 30px 150px 80px !important;
    margin: 20px 0 !important;
    border: none;
    text-align: center;
  }

  /* Box */

  /* Shop Button */
  .shop{
    word-wrap: break-word;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.14286;
    color: #fdfdff;
    background-color: #000;
    box-sizing: inherit;
    margin: 0 0 10px;
    margin-bottom: 1.5em;
    text-align: center;
    width: 350px;
    height: 70px;
  }

  .shop:hover{
    color:black;
    background-color:#f7f6f7;
  }

    /* Shop Button */
