<!-- header -->
<app-header></app-header>
<br><br><br><br>
<br>
<!-- header -->

<!-- Second header bar -->
<app-bar></app-bar>
<br><br>
<!-- Second header bar -->


<!-- links -->
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<!-- links -->

<!-- If User Not Logged In -->
<div class="amg" *ngIf="!isLoggedIn">
  <span class="">Your wishlist is currently empty.</span>
  <br>Please Login.
  <br><br>
  <button class="shop" (click)="shopClick()"> Return to shop</button>
</div>
<!-- If User Not Logged In -->

<!-- if user wishlist is empty -->
<div class="amg" *ngIf="isEmpty"  >

  <span class="">Your wishlist is currently empty.</span>
  
  <br><br>
  <button class="shop" (click)="shopClick()"> Return to shop</button>

</div>
<!-- if user wishlist is empty -->


<!-- Wish List Table -->

<div class="" *ngIf="isLoggedIn && !isEmpty">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col"></th>
          <th scope="col">PRODUCT</th>
          <th scope="col"></th>
          <th scope="col">PRICE</th>
          <!-- <th scope="col">	STOCK STATUS </th> -->
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td class="dh" > <span (click)=" deleteWishlistProduct(product)">&times;</span></td>
          <td style="padding: 10px;"><img [src]="product.productImageAddress" alt="Product Image" style="max-width: 100px; max-height: 100px;"></td>
          <td class="S4">{{product.name}}
            <br></td>
          <td>{{ product.price | currency: 'INR' }}</td>
          <td><button class="add-to-cart-btn1" (click)="addToCart(product)">
            Add to cart<span *ngIf="product.addedToCart" class="tick-mark">&#10004;</span>
          </button>
          </td>
        </tr>
      </tbody>
    </table>

<!-- Wish List Table -->

<!-- footer -->
<br><br><br>
<br><br><br>
<!-- <app-footer></app-footer> -->
<!-- footer -->
