

<!-- header -->
<app-header></app-header>
<br><br><br><br>
<br>
<!-- header -->

<!-- Second header bar -->
<app-bar></app-bar>
<br><br>
<!-- Second header bar -->


<!-- links -->
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<!-- links -->

<!-- Label and Input -->

<div class="con" style="padding-top:60px;padding-bottom: 60px;">

    <!-- plain -->
    <p class="al">To track your order please enter your Order ID in the box below and press the "Track" button. This was given to you on your receipt and in the confirmation email you should have received.</p>

    <!-- plain -->

    <!-- Box -->

    <div class="box-container" style="margin-top:10px;margin-bottom: 110px;">

        <div class="">

        <div class="" style="padding:30px">
            <label for="orderId" class="la"><small class="red">*</small> Order ID </label>
            <input type="text" class="m-control" id="orderId" name="orderId" placeholder="Found in your order confirmation email.            " style="margin-left:110px;" >
        </div>

        
        <div class=""  style="padding:30px">
            <label for="billing" class="la"><small class="red">*</small> Billing email </label>
            <input type="text" class="m-control" id="billing" name="billing" placeholder="Email you used during checkout.           "  >
        </div>

        </div>

        <button type="submit" class="m-btn" >Track</button>



    </div>
    <!-- Box -->

</div>
