/* container con */
.con{
    word-wrap: break-word;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.14286;
    color: #7c7c80;
    box-sizing: inherit;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top:60px;
    width: 1150px;
}

/* container con */
/* box */
.box-container {
    background-color:white;
    border: 1px solid #b4afaf;
    padding: 50px;
    width :1150px;
    margin: auto;
    /* margin: auto; */
  }
  


/* plain */
.al{
    /* margin-left:90px;
    text-align: justify; */


    word-wrap: break-word;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.14286;
    color: #7c7c80;
    box-sizing: inherit;
    margin: 0 0 10px;
    margin-bottom: 1.5em;
}

/* plain */

/* Input type */
.m-control{
    font: inherit;
    word-wrap: break-word;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    transition: border 0.5s;
    color: #666;
    border: none;
    border-bottom: 2px solid #ccccce;
    border-radius: 0;
    padding: 5px 0;
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    line-height: normal;
    width: 70%;
    margin-left: 90px;
  }

  /* Input type */

  /* Label */
  .la{
   
    color: #030304;
  }
  /* Label */

/* button */
.m-btn{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #1e1d1d;
    color:#f1f2f4;
    border: 2px solid black;
    width:350px;

}

.m-btn:hover{
    color: black;
    background-color: #ffffff;
  }
/* button */

/* red */
.red{
    color:red;
}