body{
  color: #999999;

}
.col-xl-6.d-none.d-xl-block {
  width: 50%;
}

.col-xl-6 {
  width: 50%;
}

.card-body {
  padding: 1.5rem;
}

.form-control-lg {
  height: 3.125rem;
  padding: 1rem;
  font-size: 1.25rem;
}

.btn-lg {
  padding: 0.75rem 2rem;
  font-size: 1.25rem;
}
.form-header{
font-family: muli-regular;
font-size: 15px;
color: #999;
box-sizing: border-box;
text-align: center;
}
.wrapper{

color: #999;

background: 0 0;
}
.lg {
  transform: scale(1.0); /* Adjust the scale factor as needed */
  width: 300px;
}

/* @keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.text-center {
  animation: slideIn 1s ease-in-out;
} */
