<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<head>
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&family=Nunito+Sans:ital,wght@1,300&display=swap"
    rel="stylesheet">

  <style>
    body {
      background-size: 100%;
      background-image: url("assets/image/pexels-ksenia-chernaya-3965540.jpg");
    }
  </style>
  
</head>


<body>
  <div class="form">
    <section class="h-auto">
      <div class="container-fluid py-5 wrapper">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-8">
            <div class="card card-registration my-4">
              <div class="row g-0">
                <!-- <div class="col-md-6 d-none d-md-block">
                <img src="assets/image/pexels-lisa-fotios-3353621.jpg"
                  alt="Sample photo" class="img-fluid"
                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem; width: 100%; height: auto;" />
              </div> -->
                <div class="col-md-6 d-none d-md-block" style="position: relative;">
                  <img src="assets/image/pexels-lisa-fotios-3353621.jpg" alt="Sample photo" class="img-fluid"
                    style="position: absolute; top: 0; left: 0; height: 100%; width: 100%; object-fit: cover; object-position: center; border-top-right-radius: .25rem; border-bottom-right-radius: .25rem;" />
                </div>
                <div class="col-md-6 ">
                  <div class="card-body p-md-5 text-black">
                    <div class="form-header">
                      <h2 class="text-center"
                        style="padding-bottom: 30px; font-family: 'Josefin Sans', sans-serif; color:black">Registration
                      </h2>
                    </div>
                    <form [formGroup]="regForm" (ngSubmit)="register()">
                      <div class="form-row">
                        <div class="form-group col-md-6 mb-4">
                          <div class="form-outline">
                            <label for="firstName" class="form-header"
                              style="font-family: 'Josefin Sans', sans-serif; color:black">First Name: </label>
                            <input type="text" class="form-control" formControlName="firstName" id="firstName"
                              name="firstName" placeholder="Enter your first name" required>
                          </div>
                        </div>

                        <div class="form-group col-md-6 mb-4">
                          <div class="form-outline">
                            <label for="lastName" class="form-header"
                              style="font-family: 'Josefin Sans', sans-serif; color:black">Last Name: </label>
                            <input type="text" class="form-control" formControlName="lastName" id="lastName"
                              name="lastName" placeholder="Enter your last name">
                          </div>
                        </div>
                      </div>

                      <div class="form-group form-outline mb-4">
                        <ng-template #MobileNumberTemplate>
                          <label for="PhoneNumber" class="form-header"
                            style="font-family: 'Josefin Sans', sans-serif; color:black"><small
                              class="text-danger">*</small>Mobile Number :</label>
                        </ng-template>
                        <small class="text-danger"
                          *ngIf="regForm.controls['PhoneNumber'].invalid && (regForm.controls['PhoneNumber'].dirty || regForm.controls['PhoneNumber'].touched); else MobileNumberTemplate ">
                          <div *ngIf="regForm.controls['PhoneNumber'].hasError('required')">*Mobile Number is required.
                          </div>
                          <div *ngIf="regForm.controls['PhoneNumber'].hasError('pattern')">*Invalid Number.</div>
                        </small>
                        <input type="PhoneNumber" class="form-control" formControlName="PhoneNumber" id="PhoneNumber"
                          name="PhoneNumber" maxlength="10" placeholder="Enter your Mobile Number ">
                      </div>


                      <div class="form-group">
                        <ng-template #emailErrorTemplate>
                          <label for="email" class="form-header"
                            style="font-family: 'Josefin Sans', sans-serif; color:black"><small
                              class="text-danger">*</small>Email ID:</label>
                        </ng-template>
                        <small class="text-danger"
                          *ngIf="regForm.controls['email'].invalid && (regForm.controls['email'].dirty || regForm.controls['email'].touched); else emailErrorTemplate ">
                          <div *ngIf="regForm.controls['email'].hasError('required')">*Email is required.</div>
                          <div *ngIf="regForm.controls['email'].hasError('pattern')">*Invalid email format.</div>
                        </small>
                        <input type="email" class="form-control" formControlName="email" id="email" name="email"
                          placeholder="Enter your email">
                      </div>

                      <div class="form-group">
                        <ng-template #passwordErrorTemplate>
                          <label for="password" class="form-header"
                            style="font-family: 'Josefin Sans', sans-serif; color:black"><small
                              class="text-danger">*</small>Password:</label>
                        </ng-template>
                        <small class="text-danger"
                          *ngIf="regForm.controls['password'].invalid && (regForm.controls['password'].dirty || regForm.controls['password'].touched); else passwordErrorTemplate">
                          <div *ngIf="regForm.controls['password'].hasError('required')">*Password is required.</div>
                          <div *ngIf="regForm.controls['password'].hasError('pattern')">
                            *Password must atleast contain 8 characters with 1 Uppercase, 1 Lowercase with 1 special
                            character and 1 numeric.</div>
                        </small>
                        <input type="password" class="form-control" formControlName="password" id="password"
                          name="password" placeholder="Enter your password">
                      </div>

                      <div class="form-group">
                        <ng-template #confirmPasswordErrorTemplate>
                          <label for="confirmPassword" class="form-header"
                            style="font-family: 'Josefin Sans', sans-serif; color:black"><small
                              class="text-danger">*</small>Confirm Password:</label>
                        </ng-template>
                        <small class="text-danger"
                          *ngIf="regForm.controls['confirmPassword'].invalid && (regForm.controls['confirmPassword'].dirty || regForm.controls['confirmPassword'].touched); else confirmPasswordErrorTemplate">
                          <div *ngIf="regForm.controls['confirmPassword'].hasError('required')">*Password is required.
                          </div>
                          <div *ngIf="regForm.controls['confirmPassword'].hasError('pattern')">
                            *Password must atleast contain 8 characters with 1 Uppercase, 1 Lowercase with 1 special
                            character and 1 numeric.</div>
                        </small>
                        <input type="password" class="form-control" formControlName="confirmPassword"
                          id="confirmPassword" name="confirmPassword" placeholder="Confirm your password">
                      </div>

                      <ngx-recaptcha2 #captchaElem class="lg" [siteKey]="siteKey" formControlName=" recaptcha">
                      </ngx-recaptcha2>


                      <div class="d-flex justify-content-end pt-3">
                        <button class="btn btn-primary btn-block"
                          style="font-family: 'Josefin Sans', sans-serif; color:rgb(248, 239, 239)">Register</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
      <!-- <script>
                // Wait for the document to fully load
            document.addEventListener('DOMContentLoaded', function() {
              // Get the registration form element
              var registrationForm = document.getElementById('registrationForm');

              // Add a class to show the registration form with animation
              registrationForm.classList.add('show');
            });

        </script> -->
    </section>
  </div>
</body>